<div class="container">
  <br>
  <div class="row">
    <div class="col-md-6" col-md-offset-3>
      <%= simple_form_for @user do |f| %>
        <%= f.input :username, label: 'enter username' %>
        <%= f.input :email, placeholer: 'user@domain.com' %>
        <%= f.input :image, placeholder: 'image/url' %>
        <%= f.input :location %>
        <%= f.input :password, hint: 'password must be < 8 characters' %>
        <%= f.button :submit, class: 'btn btn-success btn-block btn-md' %>
      <% end %>
    </div>
  </div>
</div>
